.tamanioImg{
    height: 200px;
    width: 160;
}

.colorFondo{
    background-color: red;
}

.contenedor {
    background-color: rosybrown;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}