<ion-header>
  <ion-toolbar>
    <ion-title>{{producto.nombre}}</ion-title>		   
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-text color="primary">
      <h1>{{producto.nombre}}</h1>
    </ion-text>
  </ion-item>
  <ion-item>
    <div class="contenedor">
      <ion-img class="tamanioImg" [src]="producto.imagen"></ion-img>
    </div>
  </ion-item>
  <ion-item>
    <ion-text class="colorFondo" color="dark">
      <h1>${{producto.precio}}</h1>
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-label>Cantidad: </ion-label>
    <ion-input type="number" placeholder="({{producto.cantidad}} disponibles)"></ion-input>
  </ion-item>
  <ion-item color="success">
    <ion-icon slot="start" name="card"></ion-icon>
    <h6>Paga en 3 cuotas sin interes</h6>
  </ion-item>
  
  <ion-button (click)="agregarCarrito()" expand="block" shape="round" [disabled]="producto.cantidad==0">
    Agregar al carrito
  </ion-button>
</ion-content>
